* {
  margin: 0;
}
.clearFix {
  *zoom: 1;
}
.clearFix:before,
.clearFix:after {
  clear: both;
  line-height: 0;
  content: "";
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 8px;
}
body,
html {
  height: 100%;
}
#container {
  width: 1200px;
  margin: 0 auto;
  background-color: #cdb339;
  height: 1175px;
  padding: 0 25px;
}
#descArea {
  height: 210px;
  width: 100%;
  background-color: black;
  color: white;
  margin-top: 45px;
  border-radius: 10px;
}
#descArea #desc {
  padding: 5px;
}
#descArea #desc img {
  float: right;
  margin-top: 0;
  margin-right: 3px;
  margin-left: 5px;
}
#descHide {
  display: none;
}
#descShow {
  display: block;
}
#playArea {
  background-color: black;
  width: 1200px;
  height: 180px;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: 40px;
}
#playArea #back {
  float: left;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 36%;
}
#playArea #playPause {
  height: 50px;
  float: left;
  margin-top: 20px;
  margin-right: 50px;
}
#playArea .playOn {
  display: inline;
}
#playArea .playOff {
  display: none;
}
#playArea .pauseOn {
  display: inline;
  width: 50px;
  height: 50px;
}
#playArea .pauseOff {
  display: none;
}
#playArea #forward {
  float: left;
  margin-top: 20px;
}
#title {
  height: 50px;
  width: 100%;
}
#title h1 {
  padding: 5px;
  font-size: 50px;
}
#title #login {
  float: right;
  margin: -60px 250px 0 0;
}
#title #login button {
  height: 50px;
  width: 150px;
}
#title #searchArea {
  width: 215px;
  float: right;
  margin-top: -40px;
}
#resultsArea {
  width: 60%;
  min-height: 59%;
  margin-top: 30px;
  float: right;
  background-color: #cdb339;
  border: double 5px black;
  border-radius: 5px;
  overflow: scroll;
}
#listAll {
  width: 35%;
  max-height: 59%;
  background-color: #ffc4ac;
  overflow: scroll;
  margin-top: 30px;
  border: double 5px black;
  border-radius: 5px;
}
#listAll li {
  cursor: pointer;
}
#audio {
  float: left;
  margin-left: 37%;
  margin-top: 0;
}
