* {
  margin: 0;
}
.clearFix {
  *zoom: 1;
}
.clearFix:before,
.clearFix:after {
  clear: both;
  line-height: 0;
  content: "";
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 7px;
  margin-bottom: 7px;
}
#playArea {
  background-color: black;
  width: 500px;
  height: 200px;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
}
#txtSearch {
        width: 200px;
}
#searchArea {
        padding-top: 20px;
        margin-right: 50px;
        width: 350px;
        float: right;
}
#listArea {
        width: 400px;
        min-height: 350px;
        margin-right: 50px;
        margin-top: 20px;
        float: right;
        clear: both;
        background-color: blue;
}
#listAll {
        width: 400px;
        min-height: 600px;
        float: left;
        margin-left: 50px;
        clear: both;
        background-color: purple;
}
