#listArea {
  width: 60%;
  min-height: 75%;
//  margin-right: 50px;
  margin-top: 20px;
  float: right;
//  clear: both;
  background-color: blue;




}

#listAll {
  width: 400px;
  min-height: 75%;
//  float: left;
//  margin-left: 50px;
//  clear: both;
  background-color: purple;



}