#playArea {
  background-color: black;
  width: 500px;
  height: 200px;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  

  #back {

  }

  #playPause {

  }

  #forward {

  }

  #timeLapse {

  }
}